.new-answer-form form {
    // display: flex;
    // flex-direction: row;

    input {
        @include input();
    }

    .form-items {
        display: flex;
        justify-content: space-between;
        padding: 1em;
        width: 100%;
    }
}