.new-answer-form {

    .new-answer-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

    
        input {
            @include input();
            font-size: 1.25em !important;
        }
        
        .form-items {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0;
            width: 60%;
    
            label {
                padding-top: .5em;
            }
        }

        .add-btn {
            @include add-btn();
        }
    }
}


.answers-container, .answer-wrapper {
    padding-top: 0 !important;
}

.answer-text {
    padding-bottom: .25em !important;
}

.answer-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em !important;
    width: inherit;

}

.minus-btn {
    @include delete-btn();
}