.new-trivia-container {
    @include flexbox-col();

    .new-trivia-title, label {
        padding-bottom: .5em;
        font-family: 'Montserrat', sans-serif;
    }
    
    .new-trivia-wrapper {
        @include form-wrapper();
        
        form {
            @include flexbox-col();
            width: 100%;
        }

        div {
            align-self: center;
            width: 90%;
        }

        input {
            @include input();
        }
        
        textarea {
            padding: .25em .5em;
            font-size: 1.25em;
            border-radius: 10px;
            border: 1px solid $darkgreen;
        }

        textarea:focus {
            outline: none;
            border-color: $darkergreen;
        }
    }

    .new-trivia-wrapper, .new-trivia-wrapper div {
        display: flex;
        flex-direction: column;
        margin: 1em;

        .form-el {
            margin: .5em;
        }
    }

    .continue-btn {
        @include button();
    }
}