.question-container {
    @include flexbox-col();

    h1 {
        padding-bottom: .5em;
        font-family: 'Montserrat', sans-serif;
    }

    .question-wrapper {
        @include flexbox-col();
        @include form-wrapper();
        
    
        .heading {
            font-family: 'Montserrat', sans-serif;
        }
    
        form {
            @include flexbox-col();
        }
    }
}
