.view-trivias-container {
    .trivia-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        border-bottom: 1px solid $darkpurple;

        a {
            text-decoration: none;
            color: $darkergreen;
        }

        .play-trivia-btn {
            @include button();
            margin: 0;
            margin-right: 1em;
            width: 3em;
            padding: .5em 0 .5em 1em;
            font-size: 1.5em;
            font-family: 'Viga', sans-serif;        
        }
        
        h1 {
            font-family: 'Raleway', sans-serif;
        }

        h4 {
            padding-left: 1em;
        }
    }

    h2 {
        display: flex;
        justify-content: center;
    }
}


ul li {
    list-style-type: none;
}
