.play-container {
    @include flexbox-col();

    .play-wrapper {
        @include flexbox-col();
        align-items: flex-start;
        // padding-top: 3em;
        width: 80%;

        .game-question {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding-bottom: .5em;
            font-size: 2em;
        }

        .timer {
            display: flex;
            justify-content: center;
            font-size: 2em;
            padding: .15em;
            width: 1.5em;
            border-radius: 5px 20px 5px;
            background-color: $lightgreen;
        }

        .low-time {
            background-color: $lightred;
        }
        .no-time {
            background-color: $red;
        }
        .none {
            display: none;
        }
        
        .play-item {
            width: 80%;
        }
    
        .play-list-item {
            margin: .5em;
            padding: 1.5em;
            width: 100%;
            background-color: $lighteryellow;
            font-size: 1.5em;
            cursor: pointer;

            &:hover {
                background-color: $lightyellow;
                transition: .5s ease-in-out;
            }

        }

        .active-answer {
            margin: .5em;
            padding: 1.5em;
            width: 100%;
            background-color: $lightyellow;
            font-size: 1.5em;
        }
        
        .button-div {
            display: flex;
            justify-content: flex-end;
            width: 100%;
        }

        .game-btns {
            @include button();
            margin: 0;
            margin: 2em;
        }

        @media (min-width: 60em) {
            width: 60%;
        }
        @media (min-width: 80em) {
            width: 50%;
        }
    }
}