.results-container {
    @include flexbox-col();

    .results-wrapper {

        width: 80%;
        @media (min-width: 48em){
            width: 80%;
        }
        @media (min-width: 80em){
            width: 60%;
        }

        .overall-score {
            @include flexbox-col();
            
            h1 {
                margin-bottom: 0;
            }
            span {
                font-size: 1.25em;
            }

            .great {
                color: $green;
            }
            .good {
                color: $yellow;
            }
            .poor {
                color: $orange;
            }
            .dismal {
                color: $red;
            }   
        }

        .details {
            margin: 0;
        }

        .results-q-container {
            padding-bottom: 1.5em;
            border-bottom: 1px solid $lightpurple;

            .results-question {
                padding: 1em;
                padding-bottom: .25em;
                font-size: 2em;
            }
    
            .results-correct-ans {
                font-size: 1.25em;
                color: $green;
            }
    
            .results-ans-container {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: .25em;
                margin-bottom: 1em;
    
                li {
                    display: flex;
                    justify-content: space-between;
                    padding: 1em;
                    font-size: 1.5em;
                }

                @media (max-width: 48em) {
                    width: 90%;
                    grid-template-columns: 1fr;
                }
            }
    
            .correct {
                background-color: $lightgreen;
            }
            .incorrect {
                background-color: $lightred;
            }
        }
    }
    .results-home-btn {
        @include button();
        padding: 1.25em;
        padding-right: 0;
        margin: 2em;

        a {
            width: inherit;
        }
    }
}