
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $purple;
    padding: 2rem;
    max-height: 89px;

    .nav-link {
        padding: 2rem;
        text-decoration: none;
        font-family: 'Viga', sans-serif;
        // font-family: 'Trade Winds', sans-serif;
        font-size: 1.2em;
        color: white;

        &:hover {
            background-color: $darkpurple;
        }
    }

    .nav-burger{
        display: none;
        .burger {
            padding: 1rem;
            color: white;
    
            &:hover {
                background-color: $darkpurple;
            }
        }
    }

}

@media (max-width: 48em) {
    .nav {
        padding: 1.22rem;

        .nav-burger {
            display: inline-block;
            
            .burger {
                border: 1px solid white;
                border-radius: 8px;
            }
        }

        
        .nav-link {
            display: none;
        }
    }

    .nav-active {
        padding: 0;
        display: flex;
        flex-direction: column;

        position: fixed;
        width: 100%;
        margin-top: -21px; // 1.31rem
        
        .nav-left {
            display: flex;
            flex-direction: column;
        }

        .nav-link {
            display: inline-block;
            padding: 1rem; 
            background-color: $purple;
            width: 100%;
            border-top: .5px solid $darkpurple; 
        }

        .nav-burger {
            margin-bottom: 1rem;
            padding-top: 1.22rem;
            padding-left: 1.22rem;
            
            .burger {
                background-color: $darkpurple;
            }
        }
    }
}