
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $purple;
    max-height: 89px;
    height: 89px;

    .nav-link {
        padding: .25rem;
        margin: 2rem;
        text-decoration: none;
        font-family: 'Viga', sans-serif;
        font-size: 1.2em;
        color: white;
    }

    .nav-left {
        .nav-link:hover {
            border-left: 1px dotted white;
            transition: .5s ease-in-out;
        }
        
        .active-nav-link {
            border-left: 3px dotted white;
            transition: .5s ease-in-out;
            font-size: 1.4em;
        }
    }
    
    .nav-right {
        .nav-link:hover {
            border-right: 1px dotted white;
            transition: .5s ease-in-out;
        }
        
        .active-nav-link {
            border-right: 3px dotted white;
            transition: .5s ease-in-out;
            font-size: 1.4em;
        }
    }

    .nav-burger{
        display: none;
        .burger {
            padding: 1rem;
            color: white;
    
            &:hover {
                background-color: $darkpurple;
            }
        }
    }

}

@media (max-width: 48em) {
    .nav {
        .nav-burger {
            display: inline-block;
            
            .burger {
                margin-left: 1.5em;
                border: 1px dotted white;
                border-radius: 8px;
            }
        }
        
        .nav-link {
            display: none;
        }
    }

    .nav-active {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        width: 100%;
        // margin-top: -21px; // 1.31rem
        
        .nav-left {
            display: flex;
            flex-direction: column;
        }

        .nav-link {
            display: block;
            margin: 0;
            padding: 1rem; 
            background-color: $purple;
            width: 100vw;
            border-top: .5px solid $darkpurple; 
        }

        .active-nav-link {
            border-right: none !important;
            border-left: 3px dotted white;
            transition: none;
            font-size: 1.2rem;
        }

        .nav-burger {
            margin-bottom: 1rem;
            padding-top: 1.22rem;
            
            .burger {
                border: 1px solid white;
            }
        }
    }
}