.trivia-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .heading {
        font-family: 'Raleway', sans-serif;

    }

    .questions-container {
        // width: 90%;

        .questions {
            
            .answers-container {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: .25em;
                padding-bottom: 2em;
                border-bottom: 1px solid $lightpurple;

                .answers {
                    padding: 1em;
                    background-color: $lightgreen;
                    font-family: 'Raleway', sans-serif;
                }
            }
        }
    }

    .settings {
        p {
            padding-left: 40px;
            font-family: 'Raleway', sans-serif;
        }
    }

    .questions-container, .settings {
        width: 90%;
        font-family: 'Montserrat', sans-serif;
    }
}