$lightpurple: #C0A1C2;
$purple: #82088B;
$darkpurple: #6A266F;
$green: #62BF09;
$lightgreen: #D8EDC4;
$darkgreen: #659933;
$darkergreen: #366509;
$lightyellow: #E3DA84;
$yellow: #D4C00A;
$darkyellow: #AA9E39;
$lightred: #F6CCD2;
$lighttred: #D87E8A;
$red: #A23645;
$darkred: #6B0917;

// https://paletton.com/#uid=34U0u0kllll3aaocdg0utqFRywT
// lighter colors: https://paletton.com/#uid=34U0u0kllll5yEQdqsytge8Kp7p
// https://paletton.com/#uid=35y0u0kllll5yEQdqsytge8Kp7p